<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_R7OZHyVg2DIZgVD9v2kfLG0bdguiNAk</string>
	<key>GCM_SENDER_ID</key>
	<string>997905900945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mba</string>
	<key>PROJECT_ID</key>
	<string>mba-1dfc3</string>
	<key>STORAGE_BUCKET</key>
	<string>mba-1dfc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997905900945:ios:2c33d4d9456e1c0a936630</string>
</dict>
</plist>